body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #395C9F;
    padding: 10px 0;
    width: 103.5%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

header h1 {
    color: white;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px;
    background-color: #FF5733;
    color: white;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
    margin-right: 20px; /* Ajoute un espacement à droite pour chaque lien (ajustez selon vos besoins) */
    font-weight: bold;
}


nav a:hover {
    border-bottom: 2px solid white; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Masquer la liste déroulante par défaut */
    position: absolute;
    background-color: black;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li:hover ul {
    display: block; /* Afficher la liste déroulante au survol */
}

nav ul li {
    display: block;
}

nav ul a {
    padding: 10px;
    display: block;
}



article h1 {
    text-align: center;
}

article h1, a {
    font-weight: bold;
 
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 2px solid #333;
    border-radius: 8px;
}

.metier {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

footer {
    background-color:  #395C9F;
    color: #fff;
    text-align: center;
    padding: 5px;
    width: 103%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {     
    border-bottom: 2px solid white; 
}
